.checkbox {
  min-height: 30px;
}

.checkbox__input:disabled + .checkbox__label {
  opacity: 0.4;
}

.checkbox__label {
  display: inline-block;
  padding-left: 45px;
  position: relative;
  font-family: $oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  padding-top: 7px;
}

.checkbox__label::before {
  content: "";
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  position: absolute;
  top: 0;
  left: 0;
}

.checkbox__label::before:hover {
  border: 1px solid #bababa;
}

.checkbox__label::before:focus {
  border: 1px solid #bababa;
}

.checkbox__label::after {
  content: "";
  background: url("../../images/icons1/tick.svg") no-repeat center;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 5px;
  left: 7px;
  display: none;
}

.checkbox__input:checked + .checkbox__label::after {
  display: block;
}

@media (min-width: $tablet) {
  .checkbox__label {
    font-size: 20px;
    line-height: 30px;
    padding-left: 60px;
    padding-top: 6px;
  }

  .checkbox__label::before {
    width: 38px;
    height: 38px;
  }

  .checkbox__label::after {
    width: 22px;
    height: 22px;
    top: 9px;
    left: 9px;
  }
}
